---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="height-background bg-[url('/Carousel_3.jpg')]">
    <div class="content-center align-middle p-12">
      <div class="text-center ml-0 sm:ml-32">
          <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-white">Iglesia</h1>
          <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight text-red-400 md:text-5xl lg:text-6xl">Corazón de Fuego</h1>
          <p class="text-left text-lg font-bold text-white lg:text-xl">Horarios</p>
          <p class="text-left text-lg font-normal text-white lg:text-xl">Miercoles, Viernes y Sabados 20:00hs.</p>
          <p class="text-left text-lg font-normal text-white lg:text-xl">Domingos 9:30 y 11:00 AM</p>
      </div>
    </div>
  </div>
    <div class="justify-center">
        <h1 class="text-center mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl pt-9">SERIES</h1>
    </div>
    <div class="columns-3 w-full" >
        <div class="justify-center">
        <h1 class="text-center mb-4 text-2xl font-extrabold tracking-tight md:text-3xl lg:text-4xl pt-9">Anterior</h1>
        </div>
        <div class="bg-gray-50">
              <img class="object-cover object-center sm:px-56" alt="" src="/Serie_Caminos.jpg">
        </div>
        <div class="justify-center">
            <h1 class="text-center mb-4 text-2xl font-extrabold tracking-tight md:text-4xl sm:text-4xl pt-9">Actual</h1>
        </div>
        <div class="bg-gray-50">
            <img class="object-cover object-center sm:px-56" alt="" src="/Serie_Caminos.jpg">
        </div>
        <div class="justify-center">
            <h1 class="text-center mb-4 text-2xl sm:text-2xl font-extrabold tracking-tight md:text-2xl lg:text-4xl pt-9">Proximamente</h1>
        </div>
        <div class="bg-gray-50">
            <img class="object-cover object-center sm:px-72" alt="" src="/Serie_Caminos.jpg">
        </div>
    </div>
  <div class="justify-center"></div>
    <div class="max-w-sm w-full h-full lg:max-w-full justify-center lg:flex">
        <div class="h-48 lg:h-auto lg:w-48 flex bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/Carousel_1.jpg')" title="Woman holding a mug">
        </div>
        <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
                <p class="text-sm text-gray-600 flex items-center">
                    <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                    </svg>
                    Members only
                </p>
                <div class="text-gray-900 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
                <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
            </div>
            <div class="flex items-center">
                <div class="text-sm">
                    <p class="text-gray-900 leading-none">Jonathan Reinink</p>
                    <p class="text-gray-600">Aug 18</p>
                </div>
            </div>
        </div>
    </div>
    {isOpen && (
            <div class="overlay" onclick={toggleModal}>
                <div class="card" onclick={e => e.stopPropagation()}>
                    <h2>Título de la Card</h2>
                    <p>Este es el contenido de la card que cubre toda la pantalla.</p>
                    <button onclick={toggleModal}>Cerrar</button>
                </div>
            </div>
    )}
</Layout>
<style is:global>
  html{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .height-background{
      	height: 26rem;
  }
  .py-18{
      padding-top: 4.5rem/* 64px */;
      padding-bottom: 4.5rem/* 64px */;
  }
</style>