---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="height-background bg-[url('/Carousel_3.jpg')]">
    <div class="content-center align-middle p-12">
      <div class="text-center ml-0 sm:ml-32">
          <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-white">Iglesia</h1>
          <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight text-red-400 md:text-5xl lg:text-6xl">Corazón de Fuego</h1>
          <p class="text-left text-lg font-bold text-white lg:text-xl">Horarios</p>
          <p class="text-left text-lg font-normal text-white lg:text-xl">Miercoles, Viernes y Sabados 20:00hs.</p>
          <p class="text-left text-lg font-normal text-white lg:text-xl">Domingos 9:30 y 11:00 AM</p>
      </div>
    </div>
  </div>
    <div class="justify-center">
        <h1 class="text-center mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl pt-9">SERIES</h1>
    </div>
    <div class="columns-3 w-full" >
        <div class="justify-center">
        <h1 class="text-center mb-4 text-2xl font-extrabold tracking-tight md:text-3xl lg:text-4xl pt-9">Anterior</h1>
        </div>
        <div class="bg-gray-50">
              <img class="object-cover object-center sm:px-56" alt="" src="/Serie_Caminos.jpg">
        </div>
        <div class="justify-center">
            <h1 class="text-center mb-4 text-2xl font-extrabold tracking-tight md:text-4xl sm:text-4xl pt-9">Actual</h1>
        </div>
        <div class="bg-gray-50">
            <img class="object-cover object-center sm:px-56" alt="" src="/Serie_Caminos.jpg">
        </div>
        <div class="justify-center">
            <h1 class="text-center mb-4 text-2xl sm:text-2xl font-extrabold tracking-tight md:text-2xl lg:text-4xl pt-9">Proximamente</h1>
        </div>
        <div class="bg-gray-50">
            <img class="object-cover object-center sm:px-72" alt="" src="/Serie_Caminos.jpg">
        </div>
    </div>
  <div class="justify-center"></div>
</Layout>
<style is:global>
  html{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .height-background{
      	height: 26rem;
  }
  .py-18{
      padding-top: 4.5rem/* 64px */;
      padding-bottom: 4.5rem/* 64px */;
  }
</style>