---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="height-background bg-[url('/Upperroom-Prayer-Room-Dallas-TX.jpg')]">
    <div class="grid grid-cols-1 h-full sm:grid-cols-2 content-center align-middle p-4">
      <div class="text-center ml-0 sm:ml-32">
          <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-white">Iglesia</h1>
          <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight text-red-400 md:text-5xl lg:text-6xl">Corazón de Fuego</h1>
          <p class="text-left text-lg font-bold text-white lg:text-xl">Horarios</p>
          <p class="text-left text-lg font-normal text-white lg:text-xl">Miercoles, Viernes y Sabados 20:00hs.</p>
          <p class="text-left text-lg font-normal text-white lg:text-xl">Domingos 9:30 y 11:00 AM</p>
      </div>
    </div>
  </div>
  <div class="justify-center">
      <h1 class="text-center mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl pt-9">Ministerios</h1>
  </div>
  <div class="p-1 flex mx-40 flex-wrap m-5 sm:bg-gray-100 items-center justify-center">
    <div class="flex-shrink-0 m-6 h-80 w-56 overflow-hidden bg-yellow-400 rounded-lg max-w-xs shadow-lg">
        <div class="pt-8 px-8 flex items-center justify-center">
            <img class="w-44" src="/Arde_PNG.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-80 mb-1">Adolescentes</span>
            <span class="block text-sm opacity-80 mb-2">Sabados 18 a 20 hs.</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">ARDE</span>
                <button class="hover:bg-orange-500 hover:text-white transition delay-75 hover:scale-110 ease-in active:text-orange-500 bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Ver mas</button>
            </div>
        </div>
    </div>
      <div class="flex-shrink-0 m-6 h-80 w-56 overflow-hidden bg-violet-500 rounded-lg max-w-xs shadow-lg">
        <div class="pt-8 px-10 flex items-center justify-center">
            <img class="w-40" src="/Kids_PNG.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 mb-1">Niños</span>
            <span class="block text-sm opacity-75 mb-2">Sabados 16 a 17 hs.</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">KIDS</span>
                <button class="hover:bg-violet-400 hover:text-white transition delay-75 hover:scale-110 ease-in active:text-violet-400 bg-white rounded-full text-xs font-bold px-3 py-2 text-violet-600 leading-none flex items-center">Ver mas</button>
            </div>
        </div>
      </div>
      <div class="flex-shrink-0 m-6 h-80 w-56 bg-gray-600 rounded-lg shadow-lg">
        <div class=" h-auto py-8 px-10 flex items-center justify-center">
            <img class="w-40" src="/Star_PNG.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 mb-1">Jovenes</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">STAR</span>
                <p></p>
                <button class="hover:bg-gray-400 hover:text-white transition delay-75 hover:scale-110 ease-in active:text-gray-400 bg-white rounded-full text-xs font-bold px-3 py-2 text-gray-800 leading-none flex items-center">Ver mas</button>
            </div>
        </div>
      </div>
      <div class="flex-shrink-0 m-6 h-80 w-56 overflow-hidden bg-amber-50 rounded-lg max-w-xs shadow-lg">
        <div class="py-18 px-10 flex items-center justify-center">
            <img class="w-40 h-auto" src="/Gold%20Team_PNG.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block text-black opacity-75 mb-1">Matrimonios GOLD</span>
            <div class="flex justify-between">
                <span class="block text-black font-semibold text-xl">GOLD</span>
                <button class="hover:bg-violet-400 hover:text-white transition delay-75 hover:scale-110 ease-in active:text-violet-400 bg-white rounded-full text-xs font-bold px-3 py-2 text-gray-800 leading-none flex items-center">Ver mas</button>
            </div>
        </div>
      </div>
      <div class="flex-shrink-0 m-6 h-80 w-56 overflow-hidden bg-violet-500 rounded-lg max-w-xs shadow-lg">
        <div class="pt-8 px-10 flex items-center justify-center">
            <img class="w-40" src="/Kids_PNG.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 mb-1">Niños</span>
            <span class="block text-sm opacity-75 mb-2">Sabados 16 a 17 hs.</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">KIDS</span>
                <button class="hover:bg-violet-400 hover:text-white transition delay-75 hover:scale-110 ease-in active:text-violet-400 bg-white rounded-full text-xs font-bold px-3 py-2 text-gray-800 leading-none flex items-center">Ver mas</button>
            </div>
        </div>
      </div>
  </div>
</Layout>
<style>
  html{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .height-background{
      	height: 26rem;
  }
  .py-18{
      padding-top: 4.5rem/* 64px */;
      padding-bottom: 4.5rem/* 64px */;
  }
</style>