---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="mt-14 h-96 bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 content-center align-middle pt-14 p-4">
      <div class="text-center">
        <h1 class="text-9xl">Hola</h1>
      </div>
      <div class="text-center">
        <h1 class="text-9xl">Hola</h1>
      </div>
    </div>
  </div>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
  <h1>Hola CDF</h1>
</Layout>