---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="h-screen-fixed inset-0 bg-cover bg-[url('/IMG_5489.jpg')]">
        <div class="absolute h-screen inset-0 bg-black bg-opacity-50"></div>
        <div class="relative z-20 content-center align-middle p-12">
            <div class="text-center md:mt-5 sm:ml-32">
                <h1 class="text-left md:mb-4 text-2xl font-extrabold tracking-tight md:text-6xl lg:text-8xl text-white">
                    Iglesia</h1>
                <h1 class="text-left mb-4 text-2xl font-extrabold tracking-tight text-red-400 md:text-5xl lg:text-8xl">
                    Corazón de Fuego</h1>
            </div>
            <div class="w-full mt-28 text-center">
                <p class="italic mb-2 text-5xl font-bold text-white text-center">JESÚS</p>
                <p class="italic text-5xl font-bold text-white">"Un nombre a todas las respuestas"</p>
            </div>
        </div>
        <div class="absolute bottom-0 mb-5 w-full">
            <img class="w-full h-8 hover:scale-125 transition duration-300 ease-in-out" src="https://cdn.prod.website-files.com/669fbbd7f66569e9449481ee/669fbc59e2d75de13e748446_flechascroll.svg" alt="arrow">
        </div>
    </div>
    <div class="h-screen-fixed justify-center mx-auto my-8">
        <h1 class="text-center text-xl md:text-6xl">NUESTRA IGLESIA</h1>
        <hr class="border-2 w-3/4 mx-auto my-7 border-black">
        <p class="text-left mx-44 text-xl font-extralight">Es Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
            voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
            voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
            voluptate repellendus magni illo ea animi?</p>
        <hr class="border-2 w-3/4 mx-auto mt-7 mb-10 border-black">
        <h1 class="text-center text-xl md:text-5xl">HORARIOS</h1>
        <div class="col columns-2 mx-44 mt-10">
            <div class="inset-0 bg-cover bg-[url('/grey-texture.jpg')] border-2 mx-16 border-black h-64 rounded-2xl">
                <div class="w-full content-center rounded-2xl h-16 mt-5">
                   <h1 class="text-7xl text-white font-extralight text-center">20:00 HS</h1>
                </div>
                <div class="w-full content-center rounded-2xl h-16 mt-10">
                    <h1 class="text-3xl text-white font-bold text-center">Viernes<p>y</p>Sabados</h1>
                </div>
            </div>
            <div class="inset-0 bg-cover bg-[url('/grey-texture.jpg')] border-2 mx-16 border-black h-64 rounded-2xl">
                <div class="w-full content-center rounded-2xl h-16 mt-6">
                    <h1 class="text-5xl text-white font-extralight text-center">09:30 HS</h1>
                    <hr class="border-1 w-1/2 mx-auto my-3 border-white">
                    <h1 class="text-5xl text-white font-extralight text-center">11:00 HS</h1>
                </div>
                <div class="w-full content-center rounded-2xl h-16 mt-16">
                    <h1 class="text-3xl text-white font-bold text-center">Domingos</h1>
                </div>
            </div>
        </div>
        <hr class="border-2 w-3/4 mx-auto mt-8 border-black">
    </div>
    <div class="h-screen-fixed justify-center bg-black mx-auto">
        <h1 class="text-center text-4xl text-white font-extrabold tracking-tight md:text-5xl py-10 lg:text-5xl">SERIES</h1>
        <div class="grid grd-cols-1 sm:grid-cols-3 md:grid-cols-3 my-5">
            <div class="hidden md:flex bg-gray-200 rounded-lg mr-10 ml-20 relative group cursor-pointer">
                <a class="group-hover:scale-105" style="transition: 0.3s" href="#">
                    <img class="group-hover:blur-sm object-cover w-full shadow-2xl rounded-lg h-full" alt="Serie" src="/Serie_Caminos.jpg">
                    <div class="opacity-0 group-hover:opacity-100 flex transition-opacity duration-300 absolute inset-0 items-center justify-center">
                        <div class="p-4 bg-transparent text-gray-800 text-4xl font-bold">
                            ¡Anterior!
                        </div>
                    </div>
                </a>
            </div>
            <div class="flex h-96 mx-4 md:mx-10 bg-gray-200 rounded-lg relative group cursor-pointer">
                <a id="delayedRedirectButton" class="group-hover:scale-105" style="transition: 0.3s">
                    <img class="group-hover:blur-sm object-cover w-full shadow-2xl rounded-lg h-full" alt="Serie" src="/Serie_Caminos.jpg">
                    <div class="opacity-0 group-hover:opacity-100 flex transition-opacity duration-300 absolute inset-0 items-center justify-center">
                        <div class="p-4 bg-transparent text-gray-800 text-4xl font-bold">
                            ¡Ahora!
                        </div>
                    </div>
                </a>
            </div>
            <div class="hidden md:flex ml-10 bg-gray-200 rounded-lg mr-20 relative group cursor-pointer">
                <a class="group-hover:scale-105" style="transition: 0.3s">
                    <img class="group-hover:blur-sm object-cover w-full shadow-2xl rounded-lg h-full" alt="Serie" src="/Serie_Caminos.jpg">
                    <div class="opacity-0 group-hover:opacity-100 flex transition-opacity duration-300 absolute inset-0 items-center justify-center">
                        <div class="p-4 bg-transparent text-gray-800 text-4xl font-bold">
                            ¡Proximamente!
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="h-screen-fixed justify-center  mx-auto">
        <h1 class="text-center mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-5xl pt-5">CONOCENOS</h1>
        <div class="cursor-pointer relative my-5 h-[75vh] overflow-hidden rounded-2xl shadow-lg mx-4 lg:mx-20 group">
            <!-- Contenedor del carousel -->
            <div id="slider" class="flex transition-transform duration-700 ease-out">
                <div class="relative w-full flex-shrink-0">
                    <a href="#" class="block w-full">
                        <img src="/Carousel_1.jpg" class="w-full object-fill group-hover:blur-sm transition duration-300" alt="Slide 1">
                        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                            <p class="text-white text-3xl font-bold bg-opacity-50 px-4 py-2 rounded-lg">
                                Texto Slide 1
                            </p>
                        </div>
                    </a>
                </div>
                <div class="relative w-full flex-shrink-0">
                    <a href="#" class="block w-full">
                        <img src="/Carousel_2.jpg" class="w-full  group-hover:blur-sm transition duration-300" alt="Slide 2">
                        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                            <p class="text-white text-3xl font-bold bg-opacity-50 px-4 py-2 rounded-lg">
                                Texto Slide 2
                            </p>
                        </div>
                    </a>
                </div>
                <div class="relative w-full flex-shrink-0">
                    <a href="#" class="block w-full ">
                        <img src="/Carousel_3.jpg" class="w-full object-cover group-hover:blur-sm transition duration-300" alt="Slide 3">
                        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                            <p class="text-white text-3xl font-bold bg-opacity-50 px-4 py-2 rounded-lg">
                                Texto Slide 3
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Botones de navegación -->
            <button id="prev" class="mx-5 absolute left-0 top-1/2 transform -translate-y-1/2 px-4 py-2 bg-gray-800 text-white rounded-full focus:outline-none hover:bg-gray-700">
                ❮
            </button>
            <button id="next" class="mx-5 absolute right-0 top-1/2 transform -translate-y-1/2 px-4 py-2 bg-gray-800 text-white rounded-full focus:outline-none hover:bg-gray-700">
                ❯
            </button>

            <!-- Indicadores de posición -->
            <div id="indicators" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
                <span class="indicator w-3 h-3 bg-gray-400 rounded-full"></span>
                <span class="indicator w-3 h-3 bg-gray-400 rounded-full"></span>
                <span class="indicator w-3 h-3 bg-gray-400 rounded-full"></span>
            </div>
        </div>
    </div>


    <!-- Ventana modal -->
    <div id="modal" class="card-container z-50 fixed inset-0 bg-gray-800 bg-opacity-50 flex transition-opacity-300 items-center justify-center hidden">
        <div class="relative flex items-center justify-center bg-gradient-to-r scale-90 lg:scale-100 mt-10  from-orange-400 to-red-500 rounded-xl p-8 shadow-lg max-w-2xl mx-auto">
            <!-- Cuadrado trasero -->
            <div class="hidden md:flex absolute top-24 left-0 w-40 h-40 p-5 bg-yellow-400 rounded-lg shadow-lg -translate-x-6 -translate-y-6">
                <img src="./Arde_PNG.png" class="justify-center mt-2" alt="Arde_PNG"></img>
            </div>
            <!-- Contenido principal -->
            <div class="relative bg-white p-6 md:ml-32 rounded-xl shadow-lg">
                <button id="closeModal" class="top-0 right-0 px-4 py-2 m-3 rounded-xl text-white font-bold bg-orange-500 absolute">X</button>
                <p class="text-sm text-gray-500 mb-2">26 December 2019</p>
                <h2 class="text-2xl font-bold text-gray-800 mb-4">ARDE Adolescentes</h2>
                <p class="text-base font-light text-gray-600 mb-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
                    voluptate repellendus magni illo ea animi?
                </p>
                <p class="text-base font-light text-gray-600 mb-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
                    voluptate repellendus magni illo ea animi?
                </p>
                <p class="text-base font-light text-gray-600 mb-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
                    voluptate repellendus magni illo ea animi?
                </p>
                <div class="flex">
                    <button onclick="showHiddenButton" class="hidden bg-gradient-to-r from-orange-500 to-red-500 text-white py-2 px-4 rounded-md shadow-md hover:opacity-90">
                        Leer Mas
                    </button>
                    <div id="hiddenButton" class="ml-4 justify-end bg-gradient-to-r from-yellow-500 to-red-500 text-white py-2 px-10 text-center rounded-md shadow-md hover:opacity-90">
                        ¡Proximamente!
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
<style is:global>
    html {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer utilities {
        .height-background {
            height: 32rem;
        }
    }

    .height-mobile{
        height: 16rem;
    }

    .py-18 {
        padding-top: 4.5rem /* 64px */;
        padding-bottom: 4.5rem /* 64px */;
    }

    .indicator {
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .indicator:hover {
        background-color: #2d3748; /* Hover fondo más oscuro */
    }
    .h-screen-fixed {
        height: 90.5vh;

    }
    .arrow {
        cursor: pointer;
        height: 60px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: transform 0.1s;
        width: 50px;
    }

    .arrow-top, .arrow-bottom {
        background-color: #666;
        height: 4px;
        left: -5px;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .arrow-top:after, .arrow-bottom:after {
        background-color: #fff;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.15s;
    }

    .arrow-top {
        transform: rotate(-57deg);
        transform-origin: top right;
    }

    .arrow-top:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
    }

    .arrow-bottom {
        transform: rotate(57deg);
        transform-origin: top left;
    }

    .arrow-bottom:after {
        left: 0;
        right: 100%;
        transition-delay: 0.15s;
    }

    .arrow:hover .arrow-top:after {
        left: 0;
        transition-delay: 0.15s;
    }

    .arrow:hover .arrow-bottom:after {
        right: 0;
        transition-delay: 0s;
    }

    .arrow:active {
        transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
</style>
<script>

    const slider = document.getElementById('slider');
    const prev = document.getElementById('prev');
    const next = document.getElementById('next');
    const indicators = document.querySelectorAll('.indicator');

    let index = 0; // Controla la diapositiva activa

    // Actualizar el slider y el indicador actual
    const updateSlider = () => {
        slider.style.transform = `translateX(-${index * 100}%)`;
        indicators.forEach((dot, i) => {
            dot.classList.toggle('bg-gray-400', i !== index); // Fondo gris cuando inactivo
            dot.classList.toggle('bg-gray-800', i === index); // Fondo oscuro cuando activo
        });
    };

    // Manejadores de eventos de los botones
    next.addEventListener('click', () => {
        index = (index + 1) % slider.children.length;
        updateSlider();
    });

    prev.addEventListener('click', () => {
        index = (index - 1 + slider.children.length) % slider.children.length;
        updateSlider();
    });

    // Inicializar el estado inicial
    updateSlider();

    // Implementación de Swipe para móviles y Drag para mouse
    let startX = 0; // Posición inicial de X al tocar o hacer clic
    let isDragging = false;

    // Manejadores para Touch y Mouse
    const startDrag = (e) => {
        isDragging = true;
        startX = e.type === 'touchstart' ? e.touches[0].clientX : e.clientX;
    };

    const endDrag = (e) => {
        if (!isDragging) return;
        isDragging = false;

        const endX = e.type === 'touchend' ? e.changedTouches[0].clientX : e.clientX;
        const deltaX = endX - startX;

        // Detectar dirección del swipe/drag y navegar
        if (deltaX > 50) {
            // Swipe a la derecha
            index = (index - 1 + slider.children.length) % slider.children.length;
        } else if (deltaX < -50) {
            // Swipe a la izquierda
            index = (index + 1) % slider.children.length;
        }

        updateSlider();
    };

    const dragMove = (e) => {
        if (!isDragging) return;
        // (Opcional) Puedes usar esto para una funcionalidad adicional en scroll en vivo
    };

    // Agregar eventos touch y mouse al contenedor del slider
    slider.addEventListener('touchstart', startDrag);
    slider.addEventListener('touchmove', dragMove);
    slider.addEventListener('touchend', endDrag);
    slider.addEventListener('mousedown', startDrag);
    window.addEventListener('mousemove', dragMove);
    window.addEventListener('mouseup', endDrag);

    // Referencias
    const modal = document.getElementById('modal');
    const openModalButton = document.getElementById('openModal');
    const closeModalButton = document.getElementById('closeModal');

    // Agregar eventos
    openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden'); // Mostrar el modal
    });

    closeModalButton.addEventListener('click', () => {
        modal.classList.add('hidden'); // Ocultar el modal al presionar la X
    });

    // Cerrar el modal al hacer clic fuera de la ventana modal
    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.add('hidden');
        }
    });

    button.addEventListener('click', () => {
        // Agrega un delay de 2 segundos (2000 ms) antes de redirigir
        setTimeout(() => {
            window.location.href = '#'; // Cambia por la URL a la que quieres redirigir
        }, 1000); // 2000 ms = 2 segundos
    });

    function showHiddenButton() {
        const hiddenButton = document.getElementById('hiddenButton');
        hiddenButton.style.display = 'inline-block'; // Cambia el estilo para mostrar el botón
    }

    const inc = 1000;

    clock();

    function clock() {
        const date = new Date();

        const hours = 9
        const minutes = 30;
        const seconds = 60;

        const hour = hours * 30;
        const minute = minutes * 6;
        const second = seconds * 6;

        document.querySelector('.hour').style.transform = `rotate(${hour}deg)`
        document.querySelector('.minute').style.transform = `rotate(${minute}deg)`
        document.querySelector('.second').style.transform = `rotate(${second}deg)`
    }

    setInterval(clock, inc);

</script>