---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Welcome from '../components/Welcome.astro';
import ChurchInfo from '../components/ChurchInfo.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Iglesia Corazón de Fuego - Un nombre a todas las respuestas">
  <Header />
  <main>
    <Hero />
    <Welcome />
    <ChurchInfo />
  </main>
  <Footer />
</Layout>