---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="height-background bg-[url('/Carousel_3.jpg')]">
        <div class="content-center align-middle p-12">
            <div class="text-center ml-0 sm:ml-32">
                <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-white">
                    Iglesia</h1>
                <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight text-red-400 md:text-5xl lg:text-6xl">
                    Corazón de Fuego</h1>
                <p class="text-left text-lg font-bold text-white lg:text-xl">Horarios</p>
                <p class="text-left text-lg font-normal text-white lg:text-xl">Miercoles, Viernes y Sabados 20:00hs.</p>
                <p class="text-left text-lg font-normal text-white lg:text-xl">Domingos 9:30 y 11:00 AM</p>
            </div>
        </div>
    </div>
    <div class="justify-center">
        <h1 class="text-center mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl pt-9">SERIES</h1>
    </div>
    <div class="grid grd-cols-1 sm:grid-cols-3 md:grid-cols-3 my-10">
        <div class="hidden sm:flex md:flex lg:flex bg-gray-200 rounded-lg mx-24 relative group cursor-pointer">
            <a class="group-hover:scale-105" style="transition: 0.3s" href="#">
                <img class="group-hover:blur-sm object-cover w-full shadow-2xl rounded-lg h-full" alt="Serie" src="/Serie_Caminos.jpg">
                <div class="opacity-0 group-hover:opacity-100 flex transition-opacity duration-300 absolute inset-0 items-center justify-center">
                    <div class="p-4 bg-transparent text-black text-2xl font-bold">
                        Pasada
                    </div>
                </div>
            </a>
        </div>
        <div class="flex h-96 mx-10 sm:mx-24 md:mx-24 bg-gray-200 rounded-lg  relative group cursor-pointer">
            <a id="delayedRedirectButton" class="group-hover:scale-105" style="transition: 0.3s">
                <img class="group-hover:blur-sm object-cover w-full shadow-2xl rounded-lg h-full" alt="Serie" src="/Serie_Caminos.jpg">
                <div class="opacity-0 group-hover:opacity-100 flex transition-opacity duration-300 absolute inset-0 items-center justify-center">
                    <div class="p-4 bg-transparent text-black text-2xl font-bold">
                        Actual
                    </div>
                </div>
            </a>
        </div>
        <div class="hidden sm:flex md:flex lg:flex bg-gray-200 rounded-lg mx-24 relative group cursor-pointer">
            <a class="group-hover:scale-105" style="transition: 0.3s">
                <img class="group-hover:blur-sm object-cover w-full shadow-2xl rounded-lg h-full" alt="Serie" src="/Serie_Caminos.jpg">
                <div class="opacity-0 group-hover:opacity-100 flex transition-opacity duration-300 absolute inset-0 items-center justify-center">
                    <div class="p-4 bg-transparent text-gray-800 text-4xl font-bold">
                        ¡Proximamente!
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="justify-center"></div>
</Layout>
<style is:global>
    html {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .height-background {
        height: 26rem;
    }

    .py-18 {
        padding-top: 4.5rem /* 64px */;
        padding-bottom: 4.5rem /* 64px */;
    }
</style>
<script>
    const button = document.getElementById('delayedRedirectButton');

    button.addEventListener('click', () => {
        // Agrega un delay de 2 segundos (2000 ms) antes de redirigir
        setTimeout(() => {
            window.location.href = '#'; // Cambia por la URL a la que quieres redirigir
        }, 1000); // 2000 ms = 2 segundos
    });
</script>