---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="mt-14 h-96 bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="grid grid-cols-1 h-full gap-4 sm:grid-cols-2 content-center align-middle p-4">
      <div class="text-center">
        <h1 class="text-4xl">Iglesia Corazón de Fuego</h1>
      </div>
      <div class="text-center">
        <h1 class="text-4xl">Horarios</h1>
      </div>
    </div>
  </div>
  <div class="p-1 flex flex-wrap items-center justify-center">
    <div class="flex-shrink-0 m-6 overflow-hidden bg-orange-500 rounded-lg max-w-xs shadow-lg">
        <div class=" pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"></div>
            <img class=" w-40" src="../../public/Arde_PNG.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Adolescentes</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">ARDE</span>
                <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">$36.00</span>
            </div>
        </div>
    </div>
    <div class="flex-shrink-0 m-6 overflow-hidden bg-teal-500 rounded-lg max-w-xs shadow-lg">
        <div class="pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"></div>
            <img class="w-40" src="https://user-images.githubusercontent.com/2805249/64069998-305de300-cc9a-11e9-8ae7-5a0fe00299f2.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Outdoor</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Monstera</span>
                <span class="block bg-white rounded-full text-teal-500 text-xs font-bold px-3 py-2 leading-none flex items-center">$45.00</span>
            </div>
        </div>
    </div>
    <div class="flex-shrink-0 m-6 overflow-hidden bg-purple-500 rounded-lg max-w-xs shadow-lg">
        <div class="pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3">
            </div>
            <img class="w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Outdoor</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Oak Tree</span>
                <span class="block bg-white rounded-full text-purple-500 text-xs font-bold px-3 py-2 leading-none flex items-center">$68.50</span>
            </div>
        </div>
    </div>
    <div class="flex-shrink-0 m-6 overflow-hidden bg-purple-500 rounded-lg max-w-xs shadow-lg">
        <div class="pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3">
            </div>
            <img class="w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Outdoor</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Oak Tree</span>
                <span class="block bg-white rounded-full text-purple-500 text-xs font-bold px-3 py-2 leading-none flex items-center">$68.50</span>
            </div>
        </div>
    </div>
    <div class="flex-shrink-0 m-6 overflow-hidden bg-purple-500 rounded-lg max-w-xs shadow-lg">
        <div class="pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3">
            </div>
            <img class="w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
        </div>
        <div class="text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Outdoor</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Oak Tree</span>
                <span class="block bg-white rounded-full text-purple-500 text-xs font-bold px-3 py-2 leading-none flex items-center">$68.50</span>
            </div>
        </div>
    </div>
  </div>
</Layout>
<style>
  html{
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>