---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="height-background bg-[url('/Upperroom-Prayer-Room-Dallas-TX.jpg')]">
        <div class="content-center align-middle p-12">
            <div class="text-center ml-0 sm:ml-32">
                <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-white">Iglesia</h1>
                <h1 class="text-left mb-4 text-4xl font-extrabold tracking-tight text-red-400 md:text-5xl lg:text-6xl">Corazón de Fuego</h1>
                <p class="text-left text-lg font-bold text-white lg:text-xl">Horarios</p>
                <p class="text-left text-lg font-normal text-white lg:text-xl">Miercoles, Viernes y Sabados 20:00hs.</p>
                <p class="text-left text-lg font-normal text-white lg:text-xl">Domingos 9:30 y 11:00 AM</p>
            </div>
        </div>
    </div>
</Layout>
<style>
    html{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .height-background{
        height: 26rem;
    }
    .py-18{
        padding-top: 4.5rem/* 64px */;
        padding-bottom: 4.5rem/* 64px */;
    }
</style>