---
interface NavbarProps {
    links: { href: string; text: string; }[];
}

const {links} = Astro.props as NavbarProps;
---

<footer class="bg-black">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="gap-8 sm:gap-6 p-2 grid md:grid-cols-3">
            <div class="text-center">
                <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase">Ubicación Central</h2>
                <ul class="text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="https://maps.app.goo.gl/Ymi1VjRWSTBpVM5i7" target="_blank" class="hover:underline">Leandro
                            N. Alem 467, Ramos Mejía</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase">Telefono</h2>
                <ul class="text-gray-400 font-medium">
                    <li>
                        <a>+1 (987) 4587 899</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase">Correo</h2>
                <ul class="text-gray-400 font-medium">
                    <li class="mb-4 text-center">
                        <a class="hidden sm:block hover:underline" href="mailto:corazondefuegoiglesia@gmail.com">corazondefuego@gmail.com</a>
                        <a class="block sm:hidden hover:underline" href="mailto:corazondefuegoiglesia@gmail.com">corazon
                            defuego
                            @gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="text-gray-600 m-3">
        <div class="pt-2 flex justify-center">
            <a href="#" class="mx-2 justify-center hover:scale-150" style="transition: 0.3s"><img
                    src="facebook_white.png" alt="" class="h-10 w-10"></a>
            <a href="#" class="mx-2 justify-center hover:scale-150" style="transition: 0.3s"><img
                    src="youtube_white.png" alt="" class="h-10 w-10"></a>
        </div>
    </div>
</footer>